



<div class="modal fade" id="staticBackdrop_" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="width: 100%; text-align: center; color: black;">Change Profile Photo</h5>
            </div>
            <div class="modal-body wrapper">
                <form method="POST" class="form">
                    {{ cp_form.hidden_tag() }}

                    <div class="inputfield">
                        {% if cp_form.old_password.errors %}
                            {{ cp_form.old_password.label(class="form-label") }}
                            {{ cp_form.old_password(class="form-control is-invalid") }}<br>
                            <div class="invalid-feedback">
                                {% for error in cp_form.old_password.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ cp_form.old_password.label(class="form-label") }}
                            {{ cp_form.old_password(class="form-control") }}
                        {% endif %}
                    </div> 
                    <div class="inputfield">
                        {% if cp_form.new_password.errors %}
                            {{ cp_form.new_password.label(class="form-label") }}
                            {{ cp_form.new_password(class="form-control is-invalid") }}<br>
                            <div class="invalid-feedback">
                                {% for error in cp_form.new_password.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ cp_form.new_password.label(class="form-label") }}
                            {{ cp_form.new_password(class="form-control") }}
                        {% endif %}
                    </div> 
                    <div class="inputfield">
                        {% if cp_form.confirm_password.errors %}
                            {{ cp_form.confirm_password.label(class="form-label") }}
                            {{ cp_form.confirm_password(class="form-control is-invalid") }}<br>
                            <div class="invalid-feedback">
                                {% for error in cp_form.confirm_password.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ cp_form.confirm_password.label(class="form-label") }}
                            {{ cp_form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div> 
    
                    <div class="d-grid gap-2">
                        {{ cp_form.change_password(class="btn btn-outline-success")}}
                        <button class="btn btn-outline-danger modal-btn" data-bs-dismiss="modal">Close</button>
                        <a href="{{url_for('forgot_pass_page')}}" class="btn" style="color: rgb(108, 117, 125);">
                            Forgot Password?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<style>
    #staticBackdrop .modal-body {
        padding: 1rem 0;
    }
    #staticBackdrop .btn.modal-btn {
        padding: 0;
        width: 100%;
        font-weight: 600;
    }
    #staticBackdrop .modal {
        background-color: rgba(0,0,0,.5);
    }
    ::-webkit-file-upload-button {
        display: none;
    }
    #staticBackdrop_ .wrapper {
        margin: 0;
    }
    .invalid-feedback {
        font-size: .5rem;
    }
</style>