<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="width: 100%; text-align: center;">Change Profile Photo</h5>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    <div style="display: flex; width: 100%; justify-content: center;">
                        {{ form.img.label(style="font-weight: 600; width: 44%; color: rgb(25, 135, 84)", class="btn modal-btn") }}
                        {{ form.img(style="font-size: 10px; width: 15%; padding: 0.375rem 0;", class="btn") }}
                        <button name="upload_new" class="btn modal-btn" style="color: rgb(0, 149, 246); width: 50%;">Upload Photo</button>
                    </div><hr>
                </form>
                <form method="POST">
                    <button name="remove" class="btn modal-btn" style="color: rgb(273, 73, 86);">Remove Current Photo</button><hr>
    
                    <button class="btn btn-block modal-btn" data-bs-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>


<style>
    #staticBackdrop .modal-body {
        padding: 1rem 0;
    }
    #staticBackdrop .btn.modal-btn {
        padding: 0;
        width: 100%;
        font-weight: 600;
    }
    #staticBackdrop .modal {
        background-color: rgba(0,0,0,.5);
    }
    ::-webkit-file-upload-button {
        display: none;
    }
    #staticBackdrop_ .wrapper {
        margin: 0;
    }
</style>