{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="{{url_for('static', filename='account.css')}}">
{% endblock %}

{% block style %}
    body {
        background-color: white;
    }
{% endblock %}

{% block section %}
    <header>
        <div class="container">
            <div class="profile">
                <div class="profile-image">
                    {% include "includes/modal.html" %}
                    <button type="button" class="btn_ img-box" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <img src="{{display_image}}" alt="">
                    </button>
                </div>
                <div class="profile-user-settings">
                    <h1 class="profile-user-name">{{current_user.username}}</h1>
                    <a class="btn btn_ profile-edit-btn" href="{{url_for('edit_acc_page')}}">Edit Profile</a>
                    <button class="btn btn_ profile-settings-btn" aria-label="profile settings">
                        <i class="fas fa-cog" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="profile-bio">
                    <p><span class="profile-real-name">{{current_user.first_name}} {{current_user.last_name}}</span><br>{% if current_user.bio != None %}{{ current_user.bio }}{% endif %}</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}