{% extends "base.html" %}


{% block style %}
    .row {
        margin: 5em auto;
        max-width: 720px;
        background-color: white;
        padding: 2em 3em;
        border-radius: 40px;
    }
{% endblock %}

{% block section %}
    <form class="row g-3" method="POST">
        <h3>Sign-In</h3>
        {{ form.hidden_tag() }}

        <div class="col-6">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", placeholder="Username", autocomplete="off") }}
        </div>
        <div class="col-6">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", placeholder="Password") }}
        </div>

        <div class="col-12">
            <center>{{ form.submit(class="btn btn-outline-primary") }}</center>
        </div>
    </form>
{% endblock %}